body {
  font-family: sans-serif;
  padding: 20vh 20vw;
  margin: 0;
  background-color: #0f0d0d;
}

.thot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 60vw;
}

.thot-iframe {
  width: 100%;
  height: 100%;
}

.thot-header {
  color: #fffbfb;
  margin-bottom: ;
}

.thot-link {
  color: #fffbfb;
  margin-top: 24px;
  transition: color 0.2s ease;
}

.thot-link:hover {
  color: #d4d1d1;
}